html {
    height:100%;
    overflow-y: hidden;
}
body {
    margin:0;
    padding:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    height:100%;
    background-color:#eee;
}
button {
    background-color: #15B69A;
    border: 2px #15B69A solid;
    border-radius: 3px;
    width:80px;
    height:26px;
    margin:10px;
    cursor:pointer;
    color:#fff;
}
.button_err {
    background-color: #aa584d;
    border-color: #aa584d;
}
.undo {
    background-color: gray;
    border-color: gray;
}
button:hover {
    background-color: #14c69A;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border:1px gray solid;
}
table th,
table td {
    border:1px gray dotted;
    word-break:break-all;
}
.table_titles {
    height:32px;
}
.top_nav {
    background:url("/images/top_bg.jpg") repeat;
/*    background-color: #15B69A;*/
    height:45px;
    width:100%;
    position:fixed;
    font-size:18px;
    color:#fff;
    margin:0;
    padding:0;
    z-index:100;
}
.top_nav p {
    padding-top:9px;
    padding-left:20px
}
.admin_container {
    width:100%;
    padding-top:45px;
    min-width:600px;
    height:100%;
    background-color: #eee;
}
.left {
    background:url("/images/left_bg.jpg") repeat;
    /*background-color: #15B69A;*/
    height:100%;
    width:175px;
    float:left;
    position:fixed;
}
.left ul {
    margin-top:30px;
}
.left ul li {
    list-style:none;
    line-height:40px;
}
.left ul li a {
    color:#808080;
}
.left ul li a span {
    margin-left:10px
}
.left ul li a:hover {
    color:#fff;
    text-decoration:none
}
.selected,.admin_icon {
    color:#fff
}
.user_icon,.goods_icon,.orders_icon,.needs_msg_icon,.user_msg_icon {
    color:#808080
}
#admin_right {
    position:relative;
    width:auto;
    height:100%;
    margin-left:175px;
    overflow-y:scroll;
}
#admin_center,#user_control,#goods_control,#orders_control,#needs_msg,#user_msg {
    display:none;
    width:100%;
    height:100%;
}
.r_container {
    position:relative;
    width:100%;
    height:100%;
    background-color:#eee;
}
.admin_right_to_center {
    min-width:900px;
    max-width:1400px;
    height:100%;
    margin:auto
}
.welcome {
    margin:15px 20px 0 20px;
    color:#b7b7b8;
}
.welcome span {
    margin:5px
}
.welcome a {
    color:#808080;
    float:right
}
.welcome a:hover {
    color:#fff;
    text-decoration:none
}
.left hr {
    border-color:#4b4d4e
}
