/*container*/
i {
    margin: 0px 8px;
}
.content {   
    min-width: 980px;
    text-align: center;
}
.main{
    width: 1124px;
    height: 1400px;
    padding-top: 20px;
    margin: auto;
    text-align: left;
}
.main_left {
    position: relative;
    width: 180px;
    height: auto;
    border-width: 1px;
    border-color: #5f9ea0;
    border-style: solid;
    border-radius: 5px;
    float:left;    
}
.main_soft {
    width: 100%;
}
.main_left_title,.softs_span {     
    width:100%;
    margin:auto;
}
.main_left_title{
    background-color:#15B69A;
    font-weight: bold;
    color:#fff;
    text-align: center;
    padding:8px 0px;
}
.softs_span {
    background-color: #e5e5e5;
    color:#5f9ea0;
    line-height: 26px;    
}
.main_left ul {
    margin:0px;
    padding:0px;
    width: 100%;

}
.main_left ul li{
    list-style: none;
    margin:0px;
    padding:0px;
    width:50%;
    height:25px;
    line-height: 25px;
    float:left;
    text-align: center;
    font-size: 12px;
}
/*  main middle */
.main_middle{
    position: relative;
    width:735px;
    padding:0px 5px;
    float:left;
}
.main_middle_top {
    padding:5px 10px;
}
.main_middle_top img{
    width: 100%;
    height: 300px;
}

.main_middle_center{
    width:100%;
    height:780px;
    border-top:1px solid #5f9ea0;
    margin-top:10px;
}
.main_middle_center_ul {
    width: 98%;
    margin:auto;
}
.main_middle_center_ul ul {
    margin:0px;
    padding: 0px;
}
.main_middle_center_ul ul li{
    float:left;
    margin:20px 5px;
    list-style: none;
}
.main_middle_center ul li img{
    width:230px;
}
.goods_name,.goods_price,.goods_ower {
    font-size:12px;
    margin-top:10px;
    width:225px;
    line-height:15px;
}
.span1,.span2{
    font-size:16px;
}
.span2{
    color:#aa584d;
    font-weight:bold;
}
.span3{
    float:right;
    font-size:13px;
    color:#969696;
}
.span4,.span5{
    font-size:13px;
    color:#4f4f4f;
}
.span5{
    float:right;
}
/* main right */
.main_right {
    position: relative;
    width: 180px;
    height: 800px;
    float:left;
}
.main_right_dyn,.main_right_sell {
    margin-bottom: 5px;
}
.main_right_dyn,.main_right_sell{
    width:100%;
    border-bottom:2px solid #5f9ea0;
    height:auto;
}
.main_right_sell {
    margin-top: 10px;
}
.dyn_title,.msg_title {
    border-bottom:2px solid #5f9ea0; 
    width:100%;
    padding:5px 0px;
    text-align: center;
}
.main_right_dyn ul,.main_right_sell ul {
    padding:0px;    
}
.main_right_dyn ul li,.main_right_sell ul li {
    list-style: none;
    margin:0px;
    padding:8px 0px;
    font-size: 12px; 
}
.main_right_dyn ul li i,.main_right_sell ul li i {
    color:#3cb371;
}