/*div{border-width: 1px;border-color: #5f9ea0;border-style: solid;border-radius: 5px;}
*/
body {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    background-color: #F5F3F2;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
    text-decoration: none;
    text-align: center;
    outline: none;
    color: #5f9ea0;
}
a:hover {
    color: #3cb371;
}
img{
    border: none;
}
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { 
    display: inline-block; 
}
/* the top menu fixed */
.top {
    color: #5f9ea0;
    background-color: #e5e5e5;
    width: 100%;
    height: 40px;
    position: fixed;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    min-width: 980px;
    text-align: center;
    z-index: 100;
}
.top_show {
    width: 1124px;
    margin: auto;    
}
.top_user {
    float:left;
}
.top_user a {
    color: #5f9ea0;
}
.top_user a:hover{
    color: #3cb371;
}
.top_user li {
    list-style: none;
    float: left;
    margin: 0px 5px;
}
.top_right {
    float: right;
    height: 30px;
    line-height: 20px;
    overflow: hidden;
    margin-right: 50px;
    margin-top: 7px;    
}
.car_div{
    background: url("../images/car_bg.png") no-repeat; 
}
.car_text {
    padding-left: 30px;
    font-size: 12px;
    color: gray;
}
.car{    
    height: 35px;
    color: #aa584d;
    font-weight: bold;
    font-size: 16px;
}
.car_text:hover {
    color:#3cb371;
}
.kfc,.kfc a{
    color: gray;
}
.kfc a:hover{
    color: #3cb371;
}
/* log and search bar */
.top_search{
    position: relative;
    padding-top: 40px;
    margin:0px;
    height: 130px;
}
.log{
    width: 360px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
}
.search_bar{
    position: relative;
    width:320px;
    height:35px;
    border: 2px #15B69A solid;
    border-radius: 5px;
    float:right;
    margin-top: 70px;
    margin-right: 100px;
}
.search_text {
    width:250px;
    height:33px;
    border:none;
    border-radius: 5px;
    background-color: none;
    padding-left: 10px;
    color:#666;
    font-size: 14px;
}
.search_a{
    float:right;
    height:100%;
    width: 60px;
    background-color: #15B69A;
    border-width: 0px;
    border-radius: 0px;
    line-height: 100%;
}
.search_a:hover {
    background-color: #14c69A;
}
.search_a_show {
    width:60px;
    margin:auto; 
    border:none;
    padding-top: 10px;   
}
.search_a_show a {
    padding: 15px;
    height:100%;
    color:#fff;
}
.search_a_show a:hover {
    color:#fff;
}
/* menu */
.top_menu {
    position: relative;
    width:100%;
    height:40px;
    background-color:#14c69A; 
    min-width:980px;
    font-size: 14px;
    font-weight: bold;
    margin:0px;
    padding:0px;
    color:#fff;
}
.top_menu ul {
    margin:0px;
    padding:0px;
}
.top_menu ul li{
    list-style: none;
    float:left;
    padding:11px 10px 13px 10px;    
}
.top_menu ul li:hover{
    background-color:#15B69A;    
}
.top_menu ul li a {
    padding:11px 10px 13px 10px;
    color:#fff;
}
.all_softs {
    width:180px;
    height:100%;
    text-align: center; 
    margin:0px;
    padding:0px; 
    background: url("../images/top_menu_bg.png") 140px 0px no-repeat;
}
.all_softs:hover {
    background: url("../images/top_menu_bg.png") 140px -40px no-repeat;
}
.soft_show_all {
    border-color: #15B69A;
    border-style: solid;

    position: relative;
    display: none;
    margin-left:-10px;
    z-index: 50;
}
.softs {
    border-color: #15B69A;
    border-style: solid;
    border-radius: 5px;
    background-color: #e5e5e5;
    width:410px;
    margin:0px;
    padding: 0px;  
}
#books,#shuma,#computer,
#cards,#plays,#decoration,
#shoes,#clothes,#sports,
#girls,#boys {
    width: 100px;
    font-size: 12px;
    border-color: #15B69A;
    border-style: solid;
    border-width: 1px;
}
.softs .softs_span {     
    color:#5f9ea0;
    line-height: 26px;    
}