
.reg_form {
    width:400px;
    margin:auto;
}
h2 {
    margin-left:90px;
}
table {
    width:280px;
    margin: auto;
}
table tr {
    vertical-align: middle;
}
table tr td {
    height:32px;
    vertical-align: middle;
}
.reg_form input {
    width:200px;
    height:24px;
    border-radius: 3px;
}
.nick_err,
.nick_ok,
.pwd_err,
.pwd_ok,
.repwd_err,
.repwd_ok,
.email_err,
.email_ok {
    display: none;
}

.prompt {
    width:100px;
}
.btn_div {
    margin-left:70px;
}