doctype html
html(lang="zh-cn")
    head
        meta(charset="utf-8")
        meta(name="description", content="添加分类")
        meta(name="author", content="ziyan")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="robots", content="noindex, nofollow")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title icon
        link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css",type="text/css")
        link(rel="stylesheet", href="/vendor/glyphicons/css/glyphicons.css",type="text/css")
        style
            i{
                margin:10px;
            }
        
    body
        .font-awesome font-awesome
            .icon
                i.icon-glass
                  000

                i.icon-music
                  001

                i.icon-search
                  002

                i.icon-envelope-alt
                  003

                i.icon-heart
                  004

                i.icon-star
                  005

                i.icon-star-empty
                  006

                i.icon-user
                  007

                i.icon-film
                  008

                i.icon-th-large
                  009

                i.icon-th
                  00a

                i.icon-th-list
                  00b

                i.icon-ok
                  00c

                i.icon-remove
                  00d

                i.icon-zoom-in
                  00e

                i.icon-zoom-out
                  010

                i.icon-power-off
                i.icon-off
                  011

                i.icon-signal
                  012

                i.icon-gear
                i.icon-cog
                  013

                i.icon-trash
                  014

                i.icon-home
                  015

                i.icon-file-alt
                  016

                i.icon-time
                  017

                i.icon-road
                  018

                i.icon-download-alt
                  019

                i.icon-download
                  01a

                i.icon-upload
                  01b

                i.icon-inbox
                  01c

                i.icon-play-circle
                  01d

                i.icon-rotate-right
                i.icon-repeat
                  01e

                i.icon-refresh
                  021

                i.icon-list-alt
                  022

                i.icon-lock
                  023

                i.icon-flag
                  024

                i.icon-headphones
                  025

                i.icon-volume-off
                  026

                i.icon-volume-down
                  027

                i.icon-volume-up
                  028

                i.icon-qrcode
                  029

                i.icon-barcode
                  02a

                i.icon-tag
                  02b

                i.icon-tags
                  02c

                i.icon-book
                  02d

                i.icon-bookmark
                  02e

                i.icon-print
                  02f

                i.icon-camera
                  030

                i.icon-font
                  031

                i.icon-bold
                  032

                i.icon-italic
                  033

                i.icon-text-height
                  034

                i.icon-text-width
                  035

                i.icon-align-left
                  036

                i.icon-align-center
                  037

                i.icon-align-right
                  038

                i.icon-align-justify
                  039

                i.icon-list
                  03a

                i.icon-indent-left
                  03b

                i.icon-indent-right
                  03c

                i.icon-facetime-video
                  03d

                i.icon-picture
                  03e

                i.icon-pencil
                  040

                i.icon-map-marker
                  041

                i.icon-adjust
                  042

                i.icon-tint
                  043

                i.icon-edit
                  044

                i.icon-share
                  045

                i.icon-check
                  046

                i.icon-move
                  047

                i.icon-step-backward
                  048

                i.icon-fast-backward
                  049

                i.icon-backward
                  04a

                i.icon-play
                  04b

                i.icon-pause
                  04c

                i.icon-stop
                  04d

                i.icon-forward
                  04e

                i.icon-fast-forward
                  050

                i.icon-step-forward
                  051

                i.icon-eject
                  052

                i.icon-chevron-left
                  053

                i.icon-chevron-right
                  054

                i.icon-plus-sign
                  055

                i.icon-minus-sign
                  056

                i.icon-remove-sign
                  057

                i.icon-ok-sign
                  058

                i.icon-question-sign
                  059

                i.icon-info-sign
                  05a

                i.icon-screenshot
                  05b

                i.icon-remove-circle
                  05c

                i.icon-ok-circle
                  05d

                i.icon-ban-circle
                  05e

                i.icon-arrow-left
                  060

                i.icon-arrow-right
                  061

                i.icon-arrow-up
                  062

                i.icon-arrow-down
                  063

                i.icon-mail-forward
                i.icon-share-alt
                  064

                i.icon-resize-full
                  065

                i.icon-resize-small
                  066

                i.icon-plus
                  067

                i.icon-minus
                  068

                i.icon-asterisk
                  069

                i.icon-exclamation-sign
                  06a

                i.icon-gift
                  06b

                i.icon-leaf
                  06c

                i.icon-fire
                  06d

                i.icon-eye-open
                  06e

                i.icon-eye-close
                  070

                i.icon-warning-sign
                  071

                i.icon-plane
                  072

                i.icon-calendar
                  073

                i.icon-random
                  074

                i.icon-comment
                  075

                i.icon-magnet
                  076

                i.icon-chevron-up
                  077

                i.icon-chevron-down
                  078

                i.icon-retweet
                  079

                i.icon-shopping-cart
                  07a

                i.icon-folder-close
                  07b

                i.icon-folder-open
                  07c

                i.icon-resize-vertical
                  07d

                i.icon-resize-horizontal
                  07e

                i.icon-bar-chart
                  080

                i.icon-twitter-sign
                  081

                i.icon-facebook-sign
                  082

                i.icon-camera-retro
                  083

                i.icon-key
                  084

                i.icon-gears
                i.icon-cogs
                  085

                i.icon-comments
                  086

                i.icon-thumbs-up-alt
                  087

                i.icon-thumbs-down-alt
                  088

                i.icon-star-half
                  089

                i.icon-heart-empty
                  08a

                i.icon-signout
                  08b

                i.icon-linkedin-sign
                  08c

                i.icon-pushpin
                  08d

                i.icon-external-link
                  08e

                i.icon-signin
                  090

                i.icon-trophy
                  091

                i.icon-github-sign
                  092

                i.icon-upload-alt
                  093

                i.icon-lemon
                  094

                i.icon-phone
                  095

                i.icon-unchecked
                i.icon-check-empty
                  096

                i.icon-bookmark-empty
                  097

                i.icon-phone-sign
                  098

                i.icon-twitter
                  099

                i.icon-facebook
                  09a

                i.icon-github
                  09b

                i.icon-unlock
                  09c

                i.icon-credit-card
                  09d

                i.icon-rss
                  09e

                i.icon-hdd
                  0a0

                i.icon-bullhorn
                  0a1

                i.icon-bell
                  0a2

                i.icon-certificate
                  0a3

                i.icon-hand-right
                  0a4

                i.icon-hand-left
                  0a5

                i.icon-hand-up
                  0a6

                i.icon-hand-down
                  0a7

                i.icon-circle-arrow-left
                  0a8

                i.icon-circle-arrow-right
                  0a9

                i.icon-circle-arrow-up
                  0aa

                i.icon-circle-arrow-down
                  0ab

                i.icon-globe
                  0ac

                i.icon-wrench
                  0ad

                i.icon-tasks
                  0ae

                i.icon-filter
                  0b0

                i.icon-briefcase
                  0b1

                i.icon-fullscreen
                  0b2

                i.icon-group
                  0c0

                i.icon-link
                  0c1

                i.icon-cloud
                  0c2

                i.icon-beaker
                  0c3

                i.icon-cut
                  0c4

                i.icon-copy
                  0c5

                i.icon-paperclip
                i.icon-paper-clip
                  0c6

                i.icon-save
                  0c7

                i.icon-sign-blank
                  0c8

                i.icon-reorder
                  0c9

                i.icon-list-ul
                  0ca

                i.icon-list-ol
                  0cb

                i.icon-strikethrough
                  0cc

                i.icon-underline
                  0cd

                i.icon-table
                  0ce

                i.icon-magic
                  0d0

                i.icon-truck
                  0d1

                i.icon-pinterest
                  0d2

                i.icon-pinterest-sign
                  0d3

                i.icon-google-plus-sign
                  0d4

                i.icon-google-plus
                  0d5

                i.icon-money
                  0d6

                i.icon-caret-down
                  0d7

                i.icon-caret-up
                  0d8

                i.icon-caret-left
                  0d9

                i.icon-caret-right
                  0da

                i.icon-columns
                  0db

                i.icon-sort
                  0dc

                i.icon-sort-down
                  0dd

                i.icon-sort-up
                  0de

                i.icon-envelope
                  0e0

                i.icon-linkedin
                  0e1

                i.icon-rotate-left
                i.icon-undo
                  0e2

                i.icon-legal
                  0e3

                i.icon-dashboard
                  0e4

                i.icon-comment-alt
                  0e5

                i.icon-comments-alt
                  0e6

                i.icon-bolt
                  0e7

                i.icon-sitemap
                  0e8

                i.icon-umbrella
                  0e9

                i.icon-paste
                  0ea

                i.icon-lightbulb
                  0eb

                i.icon-exchange
                  0ec

                i.icon-cloud-download
                  0ed

                i.icon-cloud-upload
                  0ee

                i.icon-user-md
                  0f0

                i.icon-stethoscope
                  0f1

                i.icon-suitcase
                  0f2

                i.icon-bell-alt
                  0f3

                i.icon-coffee
                  0f4

                i.icon-food
                  0f5

                i.icon-file-text-alt
                  0f6

                i.icon-building
                  0f7

                i.icon-hospital
                  0f8

                i.icon-ambulance
                  0f9

                i.icon-medkit
                  0fa

                i.icon-fighter-jet
                  0fb

                i.icon-beer
                  0fc

                i.icon-h-sign
                  0fd

                i.icon-plus-sign-alt
                  0fe

                i.icon-double-angle-left
                  100

                i.icon-double-angle-right
                  101

                i.icon-double-angle-up
                  102

                i.icon-double-angle-down
                  103

                i.icon-angle-left
                  104

                i.icon-angle-right
                  105

                i.icon-angle-up
                  106

                i.icon-angle-down
                  107

                i.icon-desktop
                  108

                i.icon-laptop
                  109

                i.icon-tablet
                  10a

                i.icon-mobile-phone
                  10b

                i.icon-circle-blank
                  10c

                i.icon-quote-left
                  10d

                i.icon-quote-right
                  10e

                i.icon-spinner
                  110

                i.icon-circle
                  111

                i.icon-mail-reply
                i.icon-reply
                  112

                i.icon-github-alt
                  113

                i.icon-folder-close-alt
                  114

                i.icon-folder-open-alt
                  115

                i.icon-expand-alt
                  116

                i.icon-collapse-alt
                  117

                i.icon-smile
                  118

                i.icon-frown
                  119

                i.icon-meh
                  11a

                i.icon-gamepad
                  11b

                i.icon-keyboard
                  11c

                i.icon-flag-alt
                  11d

                i.icon-flag-checkered
                  11e

                i.icon-terminal
                  120

                i.icon-code
                  121

                i.icon-reply-all
                  122

                i.icon-mail-reply-all
                  122

                i.icon-star-half-full
                i.icon-star-half-empty
                  123

                i.icon-location-arrow
                  124

                i.icon-crop
                  125

                i.icon-code-fork
                  126

                i.icon-unlink
                  127

                i.icon-question
                  128

                i.icon-info
                  129

                i.icon-exclamation
                  12a

                i.icon-superscript
                  12b

                i.icon-subscript
                  12c

                i.icon-eraser
                  12d

                i.icon-puzzle-piece
                  12e

                i.icon-microphone
                  130

                i.icon-microphone-off
                  131

                i.icon-shield
                  132

                i.icon-calendar-empty
                  133

                i.icon-fire-extinguisher
                  134

                i.icon-rocket
                  135

                i.icon-maxcdn
                  136

                i.icon-chevron-sign-left
                  137

                i.icon-chevron-sign-right
                  138

                i.icon-chevron-sign-up
                  139

                i.icon-chevron-sign-down
                  13a

                i.icon-html5
                  13b

                i.icon-css3
                  13c

                i.icon-anchor
                  13d

                i.icon-unlock-alt
                  13e

                i.icon-bullseye
                  140

                i.icon-ellipsis-horizontal
                  141

                i.icon-ellipsis-vertical
                  142

                i.icon-rss-sign
                  143

                i.icon-play-sign
                  144

                i.icon-ticket
                  145

                i.icon-minus-sign-alt
                  146

                i.icon-check-minus
                  147

                i.icon-level-up
                  148

                i.icon-level-down
                  149

                i.icon-check-sign
                  14a

                i.icon-edit-sign
                  14b

                i.icon-external-link-sign
                  14c

                i.icon-share-sign
                  14d

                i.icon-compass
                  14e

                i.icon-collapse
                  150

                i.icon-collapse-top
                  151

                i.icon-expand
                  152

                i.icon-euro
                i.icon-eur
                  153

                i.icon-gbp
                  154

                i.icon-dollar
                i.icon-usd
                  155

                i.icon-rupee
                i.icon-inr
                  156

                i.icon-yen
                i.icon-jpy
                  157

                i.icon-renminbi
                i.icon-cny
                  158

                i.icon-won
                i.icon-krw
                  159

                i.icon-bitcoin
                i.icon-btc
                  15a

                i.icon-file
                  15b

                i.icon-file-text
                  15c

                i.icon-sort-by-alphabet
                  15d

                i.icon-sort-by-alphabet-alt
                  15e

                i.icon-sort-by-attributes
                  160

                i.icon-sort-by-attributes-alt
                  161

                i.icon-sort-by-order
                  162

                i.icon-sort-by-order-alt
                  163

                i.icon-thumbs-up
                  164

                i.icon-thumbs-down
                  165

                i.icon-youtube-sign
                  166

                i.icon-youtube
                  167

                i.icon-xing
                  168

                i.icon-xing-sign
                  169

                i.icon-youtube-play
                  16a

                i.icon-dropbox
                  16b

                i.icon-stackexchange
                  16c

                i.icon-instagram
                  16d

                i.icon-flickr
                  16e

                i.icon-adn
                  170

                i.icon-bitbucket
                  171

                i.icon-bitbucket-sign
                  172

                i.icon-tumblr
                  173

                i.icon-tumblr-sign
                  174

                i.icon-long-arrow-down
                  175

                i.icon-long-arrow-up
                  176

                i.icon-long-arrow-left
                  177

                i.icon-long-arrow-right
                  178

                i.icon-apple
                  179

                i.icon-windows
                  17a

                i.icon-android
                  17b

                i.icon-linux
                  17c

                i.icon-dribbble
                  17d

                i.icon-skype
                  17e

                i.icon-foursquare
                  180

                i.icon-trello
                  181

                i.icon-female
                  182

                i.icon-male
                  183

                i.icon-gittip
                  184

                i.icon-sun
                  185

                i.icon-moon
                  186

                i.icon-archive
                  187

                i.icon-bug
                  188

                i.icon-vk
                  189

                i.icon-weibo
                  18a

                i.icon-renren
                  18b
        .glyphicons glyphicons
            .icon
                i.glyph-icon-glass
                001

                i.glyph-icon-leaf
                002

                i.glyph-icon-dog
                003

                i.glyph-icon-user
                004

                i.glyph-icon-girl
                005

                i.glyph-icon-car
                006

                i.glyph-icon-user-add
                007

                i.glyph-icon-user-remove
                008

                i.glyph-icon-film
                009

                i.glyph-icon-magic
                010

                i.glyph-icon-envelope
                \2709

                i.glyph-icon-camera
                012

                i.glyph-icon-heart
                013

                i.glyph-icon-beach-umbrella
                014

                i.glyph-icon-train
                015

                i.glyph-icon-print
                016

                i.glyph-icon-bin
                017

                i.glyph-icon-music
                018

                i.glyph-icon-note
                019

                i.glyph-icon-heart-empty
                020

                i.glyph-icon-home
                021

                i.glyph-icon-snowflake
                2744

                i.glyph-icon-fire
                023

                i.glyph-icon-magnet
                024

                i.glyph-icon-parents
                025

                i.glyph-icon-binoculars
                026

                i.glyph-icon-road
                027

                i.glyph-icon-search
                028

                i.glyph-icon-cars
                029

                i.glyph-icon-notes-2
                030

                i.glyph-icon-pencil
                270F

                i.glyph-icon-bus
                032

                i.glyph-icon-wifi-alt
                033

                i.glyph-icon-luggage
                034

                i.glyph-icon-old-man
                035

                i.glyph-icon-woman
                036

                i.glyph-icon-file
                037

                i.glyph-icon-coins
                038

                i.glyph-icon-airplane
                2708

                i.glyph-icon-notes
                040

                i.glyph-icon-stats
                041

                i.glyph-icon-charts
                042

                i.glyph-icon-pie-chart
                043

                i.glyph-icon-group
                044

                i.glyph-icon-keys
                045

                i.glyph-icon-calendar
                046

                i.glyph-icon-router
                047

                i.glyph-icon-camera-small
                048

                i.glyph-icon-dislikes
                049

                i.glyph-icon-star
                050

                i.glyph-icon-link
                051

                i.glyph-icon-eye-open
                052

                i.glyph-icon-eye-close
                053

                i.glyph-icon-alarm
                054

                i.glyph-icon-clock
                055

                i.glyph-icon-stopwatch
                056

                i.glyph-icon-projector
                057

                i.glyph-icon-history
                058

                i.glyph-icon-truck
                059

                i.glyph-icon-cargo
                060

                i.glyph-icon-compass
                061

                i.glyph-icon-keynote
                062

                i.glyph-icon-paperclip
                063

                i.glyph-icon-power
                064

                i.glyph-icon-lightbulb
                065

                i.glyph-icon-tag
                066

                i.glyph-icon-tags
                067

                i.glyph-icon-cleaning
                068

                i.glyph-icon-ruller
                069

                i.glyph-icon-gift
                070

                i.glyph-icon-umbrella
                2602

                i.glyph-icon-book
                072

                i.glyph-icon-bookmark
                073

                i.glyph-icon-wifi
                074

                i.glyph-icon-cup
                075

                i.glyph-icon-stroller
                076

                i.glyph-icon-headphones
                077

                i.glyph-icon-headset
                078

                i.glyph-icon-warning-sign
                079

                i.glyph-icon-signal
                080

                i.glyph-icon-retweet
                081

                i.glyph-icon-refresh
                082

                i.glyph-icon-roundabout
                083

                i.glyph-icon-random
                084

                i.glyph-icon-heat
                085

                i.glyph-icon-repeat
                086

                i.glyph-icon-display
                087

                i.glyph-icon-log-book
                088

                i.glyph-icon-adress-book
                089

                i.glyph-icon-building
                090

                i.glyph-icon-eyedropper
                091

                i.glyph-icon-adjust
                092

                i.glyph-icon-tint
                093

                i.glyph-icon-crop
                094

                i.glyph-icon-vector-path-square
                095

                i.glyph-icon-vector-path-circle
                096

                i.glyph-icon-vector-path-polygon
                097

                i.glyph-icon-vector-path-line
                098

                i.glyph-icon-vector-path-curve
                099

                i.glyph-icon-vector-path-all
                100

                i.glyph-icon-font
                101

                i.glyph-icon-italic
                102

                i.glyph-icon-bold
                103

                i.glyph-icon-text-underline
                104

                i.glyph-icon-text-strike
                105

                i.glyph-icon-text-height
                106

                i.glyph-icon-text-width
                107

                i.glyph-icon-text-resize
                108

                i.glyph-icon-left-indent
                109

                i.glyph-icon-right-indent
                110

                i.glyph-icon-align-left
                111

                i.glyph-icon-align-center
                112

                i.glyph-icon-align-right
                113

                i.glyph-icon-justify
                114

                i.glyph-icon-list
                115

                i.glyph-icon-text-smaller
                116

                i.glyph-icon-text-bigger
                117

                i.glyph-icon-embed
                118

                i.glyph-icon-embed-close
                119

                i.glyph-icon-table
                120

                i.glyph-icon-message-full
                121

                i.glyph-icon-message-empty
                122

                i.glyph-icon-message-in
                123

                i.glyph-icon-message-out
                124

                i.glyph-icon-message-plus
                125

                i.glyph-icon-message-minus
                126

                i.glyph-icon-message-ban
                127

                i.glyph-icon-message-flag
                128

                i.glyph-icon-message-lock
                129

                i.glyph-icon-message-new
                130

                i.glyph-icon-inbox
                131

                i.glyph-icon-inbox-plus
                132

                i.glyph-icon-inbox-minus
                133

                i.glyph-icon-inbox-lock
                134

                i.glyph-icon-inbox-in
                135

                i.glyph-icon-inbox-out
                136

                i.glyph-icon-cogwheel
                137

                i.glyph-icon-cogwheels
                138

                i.glyph-icon-picture
                139

                i.glyph-icon-adjust-alt
                140

                i.glyph-icon-database-lock
                141

                i.glyph-icon-database-plus
                142

                i.glyph-icon-database-minus
                143

                i.glyph-icon-database-ban
                144

                i.glyph-icon-folder-open
                145

                i.glyph-icon-folder-plus
                146

                i.glyph-icon-folder-minus
                147

                i.glyph-icon-folder-lock
                148

                i.glyph-icon-folder-flag
                149

                i.glyph-icon-folder-new
                150

                i.glyph-icon-edit
                151

                i.glyph-icon-new-window
                152

                i.glyph-icon-check
                153

                i.glyph-icon-unchecked
                154

                i.glyph-icon-more-windows
                155

                i.glyph-icon-show-big-thumbnails
                156

                i.glyph-icon-show-thumbnails
                157

                i.glyph-icon-show-thumbnails-with-lines
                158

                i.glyph-icon-show-lines
                159

                i.glyph-icon-playlist
                160

                i.glyph-icon-imac
                161

                i.glyph-icon-macbook
                162

                i.glyph-icon-ipad
                163

                i.glyph-icon-iphone
                164

                i.glyph-icon-iphone-transfer
                165

                i.glyph-icon-iphone-exchange
                166

                i.glyph-icon-ipod
                167

                i.glyph-icon-ipod-shuffle
                168

                i.glyph-icon-ear-plugs
                169

                i.glyph-icon-phone
                170

                i.glyph-icon-step-backward
                171

                i.glyph-icon-fast-backward
                172

                i.glyph-icon-rewind
                173

                i.glyph-icon-play
                174

                i.glyph-icon-pause
                175

                i.glyph-icon-stop
                176

                i.glyph-icon-forward
                177

                i.glyph-icon-fast-forward
                178

                i.glyph-icon-step-forward
                179

                i.glyph-icon-eject
                180

                i.glyph-icon-facetime-video
                181

                i.glyph-icon-download-alt
                182

                i.glyph-icon-mute
                183

                i.glyph-icon-volume-down
                184

                i.glyph-icon-volume-up
                185

                i.glyph-icon-screenshot
                186

                i.glyph-icon-move
                187

                i.glyph-icon-more
                188

                i.glyph-icon-brightness-reduce
                189

                i.glyph-icon-brightness-increase
                190

                i.glyph-icon-circle-plus
                191

                i.glyph-icon-circle-minus
                192

                i.glyph-icon-circle-remove
                193

                i.glyph-icon-circle-ok
                194

                i.glyph-icon-circle-question-mark
                195

                i.glyph-icon-circle-info
                196

                i.glyph-icon-circle-exclamation-mark
                197

                i.glyph-icon-remove
                198

                i.glyph-icon-ok
                199

                i.glyph-icon-ban
                200

                i.glyph-icon-download
                201

                i.glyph-icon-upload
                202

                i.glyph-icon-shopping-cart
                203

                i.glyph-icon-lock
                204

                i.glyph-icon-unlock
                205

                i.glyph-icon-electricity
                206

                i.glyph-icon-ok-2
                207

                i.glyph-icon-remove-2
                208

                i.glyph-icon-cart-out
                209

                i.glyph-icon-cart-in
                210

                i.glyph-icon-left-arrow
                211

                i.glyph-icon-right-arrow
                212

                i.glyph-icon-down-arrow
                213

                i.glyph-icon-up-arrow
                214

                i.glyph-icon-resize-small
                215

                i.glyph-icon-resize-full
                216

                i.glyph-icon-circle-arrow-left
                217

                i.glyph-icon-circle-arrow-right
                218

                i.glyph-icon-circle-arrow-top
                219

                i.glyph-icon-circle-arrow-down
                220

                i.glyph-icon-play-button
                221

                i.glyph-icon-unshare
                222

                i.glyph-icon-share
                223

                i.glyph-icon-chevron-right
                224

                i.glyph-icon-chevron-left
                225

                i.glyph-icon-bluetooth
                226

                i.glyph-icon-euro
                20AC

                i.glyph-icon-usd
                228

                i.glyph-icon-gbp
                229

                i.glyph-icon-retweet-2
                230

                i.glyph-icon-moon
                231

                i.glyph-icon-sun
                2609

                i.glyph-icon-cloud
                2601

                i.glyph-icon-direction
                234

                i.glyph-icon-brush
                235

                i.glyph-icon-pen
                236

                i.glyph-icon-zoom-in
                237

                i.glyph-icon-zoom-out
                238

                i.glyph-icon-pin
                239

                i.glyph-icon-albums
                240

                i.glyph-icon-rotation-lock
                241

                i.glyph-icon-flash
                242

                i.glyph-icon-google-maps
                243

                i.glyph-icon-anchor
                2693

                i.glyph-icon-conversation
                245

                i.glyph-icon-chat
                246

                i.glyph-icon-male
                247

                i.glyph-icon-female
                248

                i.glyph-icon-asterisk
                002A

                i.glyph-icon-divide
                00F7

                i.glyph-icon-snorkel-diving
                251

                i.glyph-icon-scuba-diving
                252

                i.glyph-icon-oxygen-bottle
                253

                i.glyph-icon-fins
                254

                i.glyph-icon-fishes
                255

                i.glyph-icon-boat
                256

                i.glyph-icon-delete
                257

                i.glyph-icon-sheriffs-star
                258

                i.glyph-icon-qrcode
                259

                i.glyph-icon-barcode
                260

                i.glyph-icon-pool
                261

                i.glyph-icon-buoy
                262

                i.glyph-icon-spade
                263

                i.glyph-icon-bank
                264

                i.glyph-icon-vcard
                265

                i.glyph-icon-electrical-plug
                266

                i.glyph-icon-flag
                267

                i.glyph-icon-credit-card
                268

                i.glyph-icon-keyboard-wireless
                269

                i.glyph-icon-keyboard-wired
                270

                i.glyph-icon-shield
                271

                i.glyph-icon-ring
                02DA

                i.glyph-icon-cake
                273

                i.glyph-icon-drink
                274

                i.glyph-icon-beer
                275

                i.glyph-icon-fast-food
                276

                i.glyph-icon-cutlery
                277

                i.glyph-icon-pizza
                278

                i.glyph-icon-birthday-cake
                279

                i.glyph-icon-tablet
                280

                i.glyph-icon-settings
                281

                i.glyph-icon-bullets
                282

                i.glyph-icon-cardio
                283

                i.glyph-icon-t-shirt
                284

                i.glyph-icon-pants
                285

                i.glyph-icon-sweater
                286

                i.glyph-icon-fabric
                287

                i.glyph-icon-leather
                288

                i.glyph-icon-scissors
                289

                i.glyph-icon-bomb
                290

                i.glyph-icon-skull
                291

                i.glyph-icon-celebration
                292

                i.glyph-icon-tea-kettle
                293

                i.glyph-icon-french-press
                294

                i.glyph-icon-coffe-cup
                295

                i.glyph-icon-pot
                296

                i.glyph-icon-grater
                297

                i.glyph-icon-kettle
                298

                i.glyph-icon-hospital
                299

                i.glyph-icon-hospital-h
                300

                i.glyph-icon-microphone
                301

                i.glyph-icon-webcam
                302

                i.glyph-icon-temple-christianity-church
                303

                i.glyph-icon-temple-islam
                304

                i.glyph-icon-temple-hindu
                305

                i.glyph-icon-temple-buddhist
                306

                i.glyph-icon-bicycle
                307

                i.glyph-icon-life-preserver
                308

                i.glyph-icon-share-alt
                309

                i.glyph-icon-comments
                310

                i.glyph-icon-flower
                2698

                i.glyph-icon-baseball
                312

                i.glyph-icon-rugby
                313

                i.glyph-icon-ax
                314

                i.glyph-icon-table-tennis
                315

                i.glyph-icon-bowling
                316

                i.glyph-icon-tree-conifer
                317

                i.glyph-icon-tree-deciduous
                318

                i.glyph-icon-more-items
                319

                i.glyph-icon-sort
                320

                i.glyph-icon-filter
                321

                i.glyph-icon-gamepad
                322

                i.glyph-icon-playing-dices
                323

                i.glyph-icon-calculator
                324

                i.glyph-icon-tie
                325

                i.glyph-icon-wallet
                326

                i.glyph-icon-piano
                327

                i.glyph-icon-sampler
                328

                i.glyph-icon-podium
                329

                i.glyph-icon-soccer-ball
                330

                i.glyph-icon-blog
                331

                i.glyph-icon-dashboard
                332

                i.glyph-icon-certificate
                333

                i.glyph-icon-bell
                334

                i.glyph-icon-candle
                335

                i.glyph-icon-pushpin
                336

                i.glyph-icon-iphone-shake
                337

                i.glyph-icon-pin-flag
                338

                i.glyph-icon-turtle
                339

                i.glyph-icon-rabbit
                340

                i.glyph-icon-globe
                341

                i.glyph-icon-briefcase
                342

                i.glyph-icon-hdd
                343

                i.glyph-icon-thumbs-up
                344

                i.glyph-icon-thumbs-down
                345

                i.glyph-icon-hand-right
                346

                i.glyph-icon-hand-left
                347

                i.glyph-icon-hand-up
                348

                i.glyph-icon-hand-down
                349

                i.glyph-icon-fullscreen
                350

                i.glyph-icon-shopping-bag
                351

                i.glyph-icon-book-open
                352

                i.glyph-icon-nameplate
                353

                i.glyph-icon-nameplate-alt
                354

                i.glyph-icon-vases
                355

                i.glyph-icon-bullhorn
                356

                i.glyph-icon-dumbbell
                357

                i.glyph-icon-suitcase
                358

                i.glyph-icon-file-import
                359

                i.glyph-icon-file-export
                360

                i.glyph-icon-bug
                361

                i.glyph-icon-crown
                362

                i.glyph-icon-smoking
                363

                i.glyph-icon-cloud-upload
                364

                i.glyph-icon-cloud-download
                365

                i.glyph-icon-restart
                366

                i.glyph-icon-security-camera
                367

                i.glyph-icon-expand
                368

                i.glyph-icon-collapse
                369

                i.glyph-icon-collapse-top
                370

                i.glyph-icon-globe-af
                371

                i.glyph-icon-global
                372

                i.glyph-icon-spray
                373

                i.glyph-icon-nails
                374

                i.glyph-icon-claw-hammer
                375

                i.glyph-icon-classic-hammer
                376

                i.glyph-icon-hand-saw
                377

                i.glyph-icon-riflescope
                378

                i.glyph-icon-electrical-socket-eu
                379

                i.glyph-icon-electrical-socket-us
                380

                i.glyph-icon-pinterest
                381

                i.glyph-icon-dropbox
                382

                i.glyph-icon-google-plus
                383

                i.glyph-icon-jolicloud
                384

                i.glyph-icon-yahoo
                385

                i.glyph-icon-blogger
                386

                i.glyph-icon-picasa
                387

                i.glyph-icon-amazon
                388

                i.glyph-icon-tumblr
                389

                i.glyph-icon-wordpress
                390

                i.glyph-icon-instapaper
                391

                i.glyph-icon-evernote
                392

                i.glyph-icon-xing
                393

                i.glyph-icon-zootool
                394

                i.glyph-icon-dribbble
                395

                i.glyph-icon-deviantart
                396

                i.glyph-icon-read-it-later
                397

                i.glyph-icon-linked-in
                398

                i.glyph-icon-forrst
                399

                i.glyph-icon-pinboard
                400

                i.glyph-icon-behance
                401

                i.glyph-icon-github
                402

                i.glyph-icon-youtube
                403

                i.glyph-icon-skitch
                404

                i.glyph-icon-foursquare
                405

                i.glyph-icon-quora
                406

                i.glyph-icon-badoo
                407

                i.glyph-icon-spotify
                408

                i.glyph-icon-stumbleupon
                409

                i.glyph-icon-readability
                410

                i.glyph-icon-facebook
                411

                i.glyph-icon-twitter
                412

                i.glyph-icon-instagram
                413

                i.glyph-icon-posterous-spaces
                414

                i.glyph-icon-vimeo
                415

                i.glyph-icon-flickr
                416

                i.glyph-icon-last-fm
                417

                i.glyph-icon-rss
                418

                i.glyph-icon-skype
                419

                i.glyph-icon-email
                420
