.admin_center admincenter

//-------------------------------------------------------------------------------------
append head
    link(rel="stylesheet", href="/stylesheets/admin_center.css",type="text/css")
    script(src="/javascripts/admin/admin_center.js", type="text/javascript")