.user_control
    .user_control_select_div
        span 用户编号：
        input.select_user_no(type="text")
        span 用户状态：
        select
            option 请选择
            option 正常
            option 已禁用
        button 查询
    .user_control_paixu
        a(href="") 积分降序
        a(href="") 寄卖物品总数降序
        a(href="") 当前在架物品数量降序
        a(href="") 发布需求消息数量降序

    table
        tr.table_titles
            td.user_no 用户编号
            td.user_nick 昵称
            td.user_point 积分
            td.user_msg 信息完善
            td.user_goods 寄卖物品总数
            td.user_on 当前在架物品数量
            td.user_need 发布需求消息数量
            td.user_action 操作
        tr
            td 1
            td ziyan
            td 5
            td 
                i.glyph-icon-ok-2
            td 10
            td 9
            td 2
            td 
                button 禁用
        tr
            td 2
            td lynn
            td 0
            td 
                i.glyph-icon-remove-2
            td 0
            td 0
            td 0
            td 
                button 禁用
        tr
            td 3
            td qq
            td 0
            td 
                i.glyph-icon-remove-2
            td 0
            td 0
            td 0
            td 
                button 解除禁用
        tr
            td 4
            td aaa
            td 1
            td 
                i.glyph-icon-ok-2
            td 10
            td 9
            td 2
            td 
                button 禁用
        tr
            td 5
            td bbb
            td 4
            td 
                i.glyph-icon-ok-2
            td 10
            td 9
            td 2
            td 
                button 禁用
        tr
            td 6
            td ccc
            td 5
            td 
                i.glyph-icon-ok-2
            td 10
            td 9
            td 2
            td 
                button 禁用
        tr
            td 7
            td ddd
            td 2
            td 
                i.glyph-icon-ok-2
            td 10
            td 9
            td 2
            td 
                button 禁用
        tr
            td 8
            td eee
            td 0
            td 
                i.glyph-icon-remove-2
            td 0
            td 0
            td 0
            td 
                button 禁用