extends ./includes/top

append  main
    .content
        .main
            .main_left
                .main_left_title
                    i.icon-th-large
                    span 热门分类
                .main_soft.clearfix 
                    .softs_span 
                        i.icon-book
                        span 基础课程
                    ul.clearfix
                        li 
                            a(href="#") 高等数学
                        li 
                            a(href="#") 英语
                        li
                            a(href="#") 工程制图
                        li
                            a(href="#") 计算机基础
                        li
                            a(href="#") 大学物理
                        li
                            a(href="#") 数电模电
                .main_soft.clearfix
                    .softs_span
                        i.icon-globe
                        span 专业相关
                    ul.clearfix
                        li
                            a(href="#") 机械工程
                        li
                            a(href="#") 计算机
                        li
                            a(href="#") 信息科学
                        li
                            a(href="#") 经济管理
                        li
                            a(href="#") 材料科学
                        li
                            a(href="#") 外国语
                        li
                            a(href="#") 环境与化工
                        li
                            a(href="#") 艺术设计
                .main_soft.clearfix
                    .softs_span
                        i.icon-list-alt
                        span 考研相关
                    ul.clearfix
                        li
                            a(href="#") 书籍
                        li
                            a(href="#") 听课证
                .main_soft.clearfix
                    .softs_span
                        i.icon-camera-retro
                        span 电子产品
                    ul.clearfix
                        li
                            a(href="#") 手机
                        li
                            a(href="#") 电脑
                        li
                            a(href="#") 相机
                        li
                            a(href="#") MP3/4
                        li
                            a(href="#") 耳机
                        li
                            a(href="#") 路由器
                        li
                            a(href="#") 交换机                
                .main_soft.clearfix
                    .softs_span
                        i.glyph-icon-table-tennis
                        span 体育用品
                    ul.clearfix
                        li
                            a(href="#") 轮滑/滑板
                        li
                            a(href="#") 球/球拍
                        li
                            a(href="#") 球衣/球鞋
                        li
                            a(href="#") 运动服
            .main_middle
                .main_middle_top
                    img(src="#{img_path}/1111.jpg")
                .main_middle_center
                    .main_middle_center_ul
                        ul.clearfix
                            -for(var i=0;i<6;i++)
                                li
                                    a(href="#")
                                        img(src="#{img_path}/001.jpg")
                                    br
                                    .goods_name
                                        a(href="#") 99朵粉玫瑰长沙鲜花速递重庆南京鲜花南昌合肥鲜花店宁波大连送花
                                    .goods_price
                                        span.span1 ￥
                                        span.span2 385.20
                                        span.span3 运费：0.01
                                    .goods_ower
                                        span.span4 最近17人成交
                                        span.span5 湖南 长沙
            .main_right
                .main_right_dyn 
                    .dyn_title 动态
                    ul
                        -for(var i=0;i<4;i++)
                            li
                                -if(i % 2 == 0) 
                                    i.icon-comments
                                -else
                                    i.icon-comments-alt
                                span 低碳生活从买卖二手物品开始
                .main_right_sell
                    .msg_title 供需消息
                    ul
                        -for(var i=0;i<6;i++)
                            li
                                -if(i % 2 == 0) 
                                    i.icon-comments
                                    span 求电脑一台
                                -else
                                    i.icon-comments-alt
                                    span 出售mp3一枚
//-------------------------------------------------------------------------------------
append head
    link(rel="stylesheet", href="/stylesheets/index_container.css",type="text/css")