extends ./includes/top
append main
    .content
        .main
            .reg_form 
                h2 新用户注册
                form.form_reg(role="form", action="/reg", method="post")
                    table.reg
                        tr
                            td
                                input.nick(type="text",name="nick",placeholder="昵称",maxlength="20",required, autofocus)
                            td.prompt
                                span.nick_err nick_err
                                span.nick_ok nick_ok
                        tr
                            td
                                input.pwd(type="password",name="pwd",placeholder="密码",maxlength="12",required)
                            td.prompt
                                span.pwd_err pwd_err
                                span.pwd_ok pwd_ok
                        tr
                            td
                                input.repwd(type="password",name="repwd",placeholder="确认密码", axlength="12",required)
                            td.prompt
                                span.repwd_err repwd_err
                                span.repwd_ok repwd_ok
                        tr
                            td
                                input.email(type="text",name="email",placeholder="邮箱", required)
                            td.prompt
                                span.email_err email_err
                                span.email_ok email_ok
                    .btn_div
                        button(type="reset")#undo.reg_button 取消
                        button(type="submit")#do_reg.reg_button 注册

//---------------------------------------------------------------------------
append head
    link(rel="stylesheet", href="/stylesheets/reg.css",type="text/css")
    script(type="text/javascript", src="/javascripts/reg.js")